# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Base de datos
db.sqlite3
*.sqlite3

# Entorno virtual
venv/
env/
ENV/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log
